#header{
    background-color: gray;
    height: 150px;
    text-align: center;
    margin-top: -20px;

}


#left{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 200px;
    background-color: lightgrey;
    grid-area: left;
}



#right{
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-right: 200px;
    background-color: lightgrey;
    grid-area: right;
}




#main{
    display: flex;
    justify-content: center ;

}

#main{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    " left right ";
}


/*#container{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 3fr 2fr 1fr;*/
/*    grid-template-rows: 1fr 2fr ;*/
/*    grid-template-area:*/
/*    "header header header header";*/
/*    ". left right .";*/

