#header{
    padding-top: 30px;
    background-color: gray;
    height: 150px;
    text-align: center;
    margin-top: -20px;

}


#left{
    padding-left: 50px;
    justify-content: left;
    flex-direction: column;
    background-color: lightgrey;
    grid-area: left;
}



#right{
    padding-left:50px ;
    justify-content: right;
    flex-direction: column;

    background-color: lightgrey;
    grid-area: right;
}




#main{
    /*display: flex;*/
    justify-content: center ;

}
@media screen {


    #main {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: ". left right .";
    }
}


@media only screen and (max-width: 600px) {

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas: "left" "right";

}

}





/*#container{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 3fr 2fr 1fr;*/
/*    grid-template-rows: 1fr 2fr ;*/
/*    grid-template-area:*/
/*    "header header header header";*/
/*    ". left right .";*/

